<p class="login-box-msg">Ingresa para acceder a tu sesion</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-group margin">
    <%= f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Login' %>
    <span class="input-group-btn">
      <button type="button" class="btn"><i class="fa fa-user"></i></button>
    </span>
  </div>

  <div class="input-group margin">
    <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Contraseña', id: "pass" %>
    <span class="input-group-btn">
      <button id="ShowPass" type="button" class="btn"><i id="icono" class="fa fa-lock"></i></button>
    </span>
  </div>
  <br>
  <div class="row">
    <% if devise_mapping.rememberable? -%>
      <div class="col-xs-8">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="col-xs-4">
      <%= f.submit "Acceder", class: 'btn btn-success btn-block btn-flat' %>
    </div>
  </div>
<% end %>
