<%if current_user.rol == 1 %>

  <% if @titulo_edit=="success" %>

      <script>
          toastr["<%= @tipo_edit %>"]("<%= @mensaje_edit %>", "<%= @titulo_edit %>", {
              positionClass: "toast-top-right",
              closeButton: "true",
              progressBar: "true",
              preventDuplicates: "true"
          });
      </script>

  <% end %>


  <%=link_to "Volver", codes_path, class: "btn btn-danger" %>
  <br><br>
  <div class="box">
    <div class="box-header">
      <span>Listado de tipos de productos registrados</span>
      <%=link_to '<span class="fa fa-plus-circle"></span>  A침adir tipo'.html_safe, new_type_path, remote: true ,class: "btn btn-success pull-right"%>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <thead>
        <tr>
          <th style="width: 10px" class="text-center">ID</th>
          <th style="width: 25px" class="text-center">Tipo</th>
          <th style="width: 25px" class="text-center">Cantidad de productos</th>
          <th style="width: 10px" class="text-center">Editar tipo</th>
        </tr>
        </thead>
        <tbody>
        <%@types.each do |type| %>
          <%= render "row", type: type %>
        <% end %>
        </tbody>
        <tfoot>
        <tr>
          <th style="width: 10px" class="text-center">ID</th>
          <th style="width: 25px" class="text-center">Tipo</th>
          <th style="width: 25px" class="text-center">Cantidad de productos</th>
          <th style="width: 10px" class="text-center">Editar tipo</th>
        </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
  <%=link_to "Volver", codes_path, class: "btn btn-danger" %>
<%else %>
  <section class="content-header">
    <h1>
      404 Error
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>
        <p>
          No se pudo encontrar la p치gina que est치 solicitando.
          Por el momento se puede dirigir a la p치gina de inicio: <%=link_to "volver al dashboard (inicio)", home_index_path %>.
        </p>
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-ban"></i> Alerta!</h4>
            <%=@mensaje %>
          </div>
        </div>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
<%end %>
