<%if current_user.rol == 1 %>
  <%=link_to "Volver", codes_path, class: "btn btn-danger" %>
  <br><br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <span>Listado de usuarios registrados</span>
          <%=link_to '<span class="fa fa-plus-circle"></span>  A침adir usuario'.html_safe, new_user_path, remote: true ,class: "btn btn-success pull-right"%>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 5px" class="text-center">ID</th>
              <th style="width: 15px" class="text-center">Login</th>
              <th style="width: 25px" class="text-center">Nombre</th>
              <th style="width: 25px" class="text-center">Correo</th>
              <th style="width: 25px" class="text-center">Estado</th>
              <th style="width: 10px" class="text-center"></th>
              <th style="width: 10px" class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <%@users.each do |user| %>
              <%= render "row", user: user %>
            <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th style="width: 5px" class="text-center">ID</th>
              <th style="width: 15px" class="text-center">Login</th>
              <th style="width: 25px" class="text-center">Nombre</th>
              <th style="width: 25px" class="text-center">Correo</th>
              <th style="width: 25px" class="text-center">Estado</th>
              <th style="width: 10px" class="text-center"></th>
              <th style="width: 10px" class="text-center"></th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <%=link_to "Volver", codes_path, class: "btn btn-danger" %>
  <span class="ir-arriba fa fa-arrow-circle-up hidden-lg"></span>
  <div class="row alerta" id="alerta" hidden="hidden">

  </div>
<%else %>
  <section class="content-header">
    <h1>
      404 Error
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>
        <p>
          No se pudo encontrar la p치gina que est치 solicitando.
          Por el momento se puede dirigir a la p치gina de inicio: <%=link_to "volver al dashboard (inicio)", home_index_path %>.
        </p>
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-ban"></i> Alerta!</h4>
            <%=@mensaje %>
          </div>
        </div>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
<%end %>