<% if @user.errors.empty? %>

  <% if @tipo_edit == "success" %>
    $('table tbody tr#<%= @user.id %>').replaceWith(' <%= j render "row", user: @user %>');
  <% end %>

  $("#modal-user").modal('hide');
  $(".user_login").val("");
  $(".user_email").val("");
  $(".user_nombre").val("");
  $(".user_apellido").val("");
  $(".user_rol").html("");
  $(".user_estado").html("");
  $(".Pass1").val("");
  $(".Pass2").val("");
  var html = "<div id='mensaje' class='mensaje'> \n" +
      "    <div class='col-lg-4 col-md-4 col-sm-0 col-xs-0'></div> \n" +
      "    <div class='col-lg-4 col-md-4 col-sm-2 col-xs-2'></div> \n" +
      "    <div class='col-lg-4 col-md-4 col-sm-10 col-xs-10'> \n" +
      "     <div class='box-body'>  "+
      "      <div class='alert alert-<%=@tipo_edit %> alert-dismissible'> \n" +
      "        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> \n" +
      "        <h5><i class='<%=@icono_edit %>'></i> <b> <%=@titulo_edit %> </b></h5> \n" +
      "        <%=@mensaje_edit %> \n" +
      "      </div>\n" +
      "    </div> </div> </div>";

  html = $.parseHTML( html);

  $("#alerta").append(html);

  $("#alerta").hide().fadeIn(1000);

  $(".mensaje").fadeOut(10000, function(){
      $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
  });

<% else %>
  alert('<% @user.errors.full_messages.each do |msg| %><%= msg %>\n<% end %>');
<% end %>