<%if ofert.supermercado.to_s != "" %>
  <%if ofert.fecha.to_i == -1 %>
    <tr>
      <td><%=ofert.supermercado %></td>
      <td><%=ofert.nombre_oferta %></td>
      <td>Sin información</td>
      <td><a id="buton" type="button" class="btn btn-default" href="<%=ofert.enlace%>" target="blank">Catálogo</a></td>
    </tr>
  <%elsif  ofert.fecha.to_i == 0%>
    <tr class="danger">
      <td><span class="fa fa-exclamation-triangle"></span><%=ofert.supermercado %></td>
      <td><%=ofert.nombre_oferta %></td>
      <td>Vence hoy</td>
      <td><a type="button" class="btn btn-danger" href="<%=ofert.enlace%>" target="blank"><span class="fa fa-exclamation-triangle"></span> Catálogo</a></td>
    </tr>
  <%elsif  ofert.fecha.to_i <= 3%>
    <tr class="warning">
      <td><%= ofert.supermercado%></td>
      <td><%= ofert.nombre_oferta%></td>
      <td>Vence en <%= ofert.fecha%> <%if ofert.fecha.to_i == 1 %> día <%else %> días <%end %></td>
      <td><a type="button" class="btn btn-default" href="<%=ofert.enlace%>" target="blank">Catálogo</a></td>
    </tr>
  <%else %>
    <tr>
      <td><%=ofert.supermercado %></td>
      <td><%=ofert.nombre_oferta %></td>
      <td>Vence en <%=ofert.fecha %> días</td>
      <td><a type="button" class="btn btn-default" href="<%=ofert.enlace%>" target="blank">Catálogo</a></td>
    </tr>
  <%end %>
<%end %>
