
<section class="content-header">
  <h1>
    Dashboard
    <small>Control panel</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <h3><%=@products.length %></h3>
          <p>Productos</p>
        </div>
        <div class="icon">
          <i class="fa fa-opencart"></i>
        </div>
        <a href="/products" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green-gradient">
        <div class="inner">
          <h3><%=@requests.length %></h3>
          <p>Productos en consumo</p>
        </div>
        <div class="icon">
          <i class="fa fa-plus-square-o"></i>
        </div>
        <a href="/requests" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-orange-active">
        <div class="inner">
          <h3><%=@users.length %></h3>
          <p>Usuarios</p>
        </div>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <%if current_user.rol == 1 %>
          <a href="/users" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
        <%else %>
          <a class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
        <%end %>
      </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-red-gradient">
        <div class="inner">
          <h3><%=@products_low.length %></h3>
          <p>Productos stock bajo</p>
        </div>
        <div class="icon">
          <i class="fa fa-cart-arrow-down"></i>
        </div>
        <a href="/home/<%=@products_low.length %>/low" class="small-box-footer">Detalles <i class="fa fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Consumo de cada uno</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div id="myfirstchart"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Consumos anteriores</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="box-body chart-responsive">
          <div class="chart" id="bar-chart"></div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h4>Ultimos 10 consumos</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 5px">Solicitante</th>
              <th style="width: 15px">Producto</th>
              <th style="width: 25px">Cantidad</th>
              <th style="width: 25px">Fecha</th>
              <th style="width: 25px">Hora</th>
            </tr>
            </thead>
            <tbody>
              <%if @requests.length.to_i < 10 %>
                <%@requests.each do |request| %>
                  <tr>
                    <td><%=User.find(request.usuario).nombre_usuario.titleize %> <%=User.find(request.usuario).apellidos_usuario.titleize %></td>
                    <td><%=Product.find(request.producto).nombre_producto.titleize %></td>
                    <td><%=request.cantidad %></td>
                    <%@var = DateTime.new(request.fecha.year,request.fecha.month,request.fecha.day,request.fecha.hour-3) %>
                    <td><%=@var.strftime("%d-%m-%Y") %></td>
                    <td><%=@var.strftime("%H:%M") %></td>
                  </tr>
                <%end %>
              <%else %>
                <%for i in(0..9) %>
                  <tr>
                    <td><%=User.find(@requests[i].usuario).nombre_usuario.titleize %> <%=User.find(@requests[i].usuario).apellidos_usuario.titleize %></td>
                    <td><%=Product.find(@requests[i].producto).nombre_producto.titleize %></td>
                    <td><%=@requests[i].cantidad %></td>
                    <%@var = DateTime.new(@requests[i].fecha.year,@requests[i].fecha.month,@requests[i].fecha.day,@requests[i].fecha.hour-3) %>
                    <td><%=@var.strftime("%d-%m-%Y") %></td>
                    <td><%=@var.strftime("%H:%M") %></td>
                  </tr>
                <%end %>
              <%end %>
            </tbody>
            <tfoot>
            <tr>
              <th style="width: 5px">Solicitante</th>
              <th style="width: 15px">Producto</th>
              <th style="width: 25px">Cantidad</th>
              <th style="width: 25px">Fecha</th>
              <th style="width: 25px">Hora</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <span class="ir-arriba fa fa-arrow-circle-up"></span>
</section>
<script>
    //DONUT CHART
    var donut = new Morris.Donut({
        element: 'myfirstchart',
        resize: true,
        colors: ["#bcbc00", "#f50598", "#0000a6"],
        data: [
            {label: "Cristobal", value: <%=@cristobal %>},
            {label: "Nury", value: <%=@nury %>},
            {label: "Ricardo", value: <%=@ricardo %>}
        ],
        hideHover: 'auto'
    });

    var bar = new Morris.Bar({
        element: 'bar-chart',
        resize: true,
        data: [
            {y: 'Consumo actual', a: <%=@requests.length %>},
            {y: '<%=@stories[0].semana %>', a: <%=@stories[0].cantidad.to_i %>},
            {y: '<%=@stories[1].semana %>', a: <%=@stories[1].cantidad.to_i %>},
            {y: '<%=@stories[2].semana %>', a: <%=@stories[2].cantidad.to_i %>}
        ],
        barColors: ['#00a65a'],
        xkey: 'y',
        ykeys: ['a'],
        labels: ['Consumo'],
        hideHover: 'auto'
    });
</script>