<section class="content-header">
  <h1>
    Ofertas
    <small>vigentes de acuerdo a la página: <a href="https://www.tiendeo.cl/santiago/supermercados">https://www.tiendeo.cl/santiago/supermercados</a></small>
  </h1>
</section>
<section class="content">
  <%=link_to "Volver", home_index_path, class: "btn btn-danger" %>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h4>Listado de ofertas de supermercados</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 5px">SuperMercado</th>
              <th style="width: 25px">Ir a catálogo</th>
            </tr>
            </thead>
            <tbody>
              <%if Date.today.strftime("%A").downcase == 'friday' %>

                <tr class="danger">
                  <td><span class="fa fa-exclamation-triangle"></span> Portal de 'Las últimas noticias'</td>
                  <td><a id="buton" type="button" class="btn btn-danger" href="http://www.lun.com/" target="blank"><span class="fa fa-exclamation-triangle"></span> Catálogo</a></td>
                </tr>

              <%end %>
              <%@supermercados.each do |supermercado| %>
                <tr>
                  <td><%=supermercado.supermercados %></td>
                  <td><%=link_to "Ir a Catálogos", select_supermercado_path(supermercado.id),remote: true ,class: "btn btn-success catalogos" %></td>
                </tr>
              <% end %>
            </tbody>
            <tfoot>
            <tr>
              <th style="width: 5px">SuperMercado</th>
              <th style="width: 25px">Ir a catálogo</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  <%=link_to "Volver", home_index_path, class: "btn btn-danger", id: "Catalogos" %>
  <br><br>

  <div class="row" id="marca">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box box-success">
        <div class="box-header">
          <h4>Listado de ofertas del supermercado <%= %></h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table id="ofertas" class="table table-hover">
            <thead>
            <tr>
              <th style="width: 5px">SuperMercado</th>
              <th style="width: 15px">Nombre Oferta</th>
              <th style="width: 25px">Fecha de vencimiento</th>
              <th style="width: 25px">Ir a catálogo</th>
            </tr>
            </thead>
            <tbody>
              <%if @ListaOferta != nil %>
                <%@ListaOferta.each do |oferta| %>
                  <%= render "row", ofert: oferta %>
                <% end %>
              <%end %>
            </tbody>
            <tfoot>
            <tr>
              <th style="width: 5px">SuperMercado</th>
              <th style="width: 15px">Nombre Oferta</th>
              <th style="width: 25px">Fecha de vencimiento</th>
              <th style="width: 25px">Ir a catálogo</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button id="Subir" type="button" class="btn btn-default pull-right"><span class="fa fa-arrow-up"></span> Volver Arriba</button>
        </div>
      </div>
    </div>
  </div>
</section>
