<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" id="request_<%= request.id %>">
  <div class="box <%if request.estado.to_i == 1 %> box-info <%else %> box-danger <%end %> box-solid">
    <div class="box-header with-border">
      <h3 class="box-title"><%=Product.find(request.producto).nombre_producto.titleize %></h3>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
    <div class="box-body">
      <ul class="nav nav-stacked">
        <li><a>Cantidad <span class="pull-right badge bg-green-gradient"><%= request.cantidad %></span></a></li>
        <li><a><%if request.estado.to_i == 1 %>Solicitante<%else %>Consumidor<%end %> <span class="pull-right badge bg-orange"><%= User.find(request.usuario).nombre_usuario.titleize %></span></a></li>
        <%@var = DateTime.new(request.fecha.year, request.fecha.month, request.fecha.day, request.fecha.hour-3) %>
        <li><a><%if request.estado.to_i == 1 %>Fecha<%else %>Fecha cierre<%end %> <span class="pull-right badge bg-aqua-active"><%= @var.strftime('%d-%m-%Y %H:00') %></span></a></li>
        <li><a>Estado <span class="pull-right badge <%if request.estado.to_i == 1 %> bg-teal-gradient <%else %> bg-red-gradient <%end %>"><%= Situation.find(request.estado).descrip_estado_producto.titleize %></span></a></li>
      </ul>
    </div> <!--cierre box body-->
    <div class="box-footer">
      <%if request.estado.to_i == 1 %>
        <button type="button" class="btn bg-orange btn-xs" data-toggle="modal" data-target="#modal-change-<%=request.id%>">Producto consumido</button>
      <%else %>
        <button type="button" class="btn bg-orange btn-xs" disabled="disabled">Producto consumido</button>
      <%end %>
    </div>
  </div> <!--cierre caja del producto-->
</div> <!--cierre de grilla de bootstrap-->

<%if request.estado.to_i == 1 %>
  <div class="modal modal-warning fade" id="modal-change-<%=request.id%>">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">¿Producto consumido?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">No</button>
          <%=link_to "Si", change_state_re_path(request.id), remote: true, class: 'btn btn-outline'%>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<%end %>

