<% if @request.errors.empty? %>

  <% if @tipo_estado == "success" %>
    $("#modal-change-<%=@request.id%>").modal('hide');

    $("#request_<%= @request.id%>").fadeOut(1000, function(){
        $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
        $("#container_requests").prepend('<%= j render @request %>');
        $("#request_<%= @request.id%>").hide().fadeIn(1000);
    });
  <% end %>

    var html = "<div id='mensaje' class='mensaje'> \n" +
        "    <div class='col-lg-4 col-md-4 col-sm-0 col-xs-0'></div> \n" +
        "    <div class='col-lg-4 col-md-4 col-sm-2 col-xs-2'></div> \n" +
        "    <div class='col-lg-4 col-md-4 col-sm-10 col-xs-10'> \n" +
        "     <div class='box-body'>  "+
        "      <div class='alert alert-<%=@tipo_estado %> alert-dismissible'> \n" +
        "        <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button> \n" +
        "        <h5><i class='<%=@icono_estado %>'></i> <b> <%=@titulo_estado %> </b></h5> \n" +
        "        <%=@mensaje_estado %> \n" +
        "      </div>\n" +
        "    </div> </div> </div>";

    html = $.parseHTML( html);

    $("#alerta").append(html);

    $("#alerta").hide().fadeIn(1000);


    $("html,body").animate({
        scrollTop: $("#alerta").offset().top
    }, 500);

    $(".mensaje").fadeOut(10000, function(){
        $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
    });

<% else %>
  alert('<%= @request.errors.full_messages[0] %>');
<% end %>