<%if current_user.rol == 1 %>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <h4>Mantenedor de c칩digos de tablas</h4>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
            <tr>
              <th style="width: 34px">Tabla</th>
              <th style="width: 33px">Cantidad de elementos</th>
              <th style="width: 33px">Detalles</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Usuarios del sistema</td>
              <td><span class="badge bg-lime-active"><%=@users.length %></span></td>
              <td><%=link_to "Tabla usuarios", users_path, class: "btn btn-primary"%></td>
            </tr>
            <tr>
              <td>Tipos de productos</td>
              <td><span class="badge bg-green-active"><%=@types.length %></span></td>
              <td><%=link_to "Tabla tipos", types_path, class: "btn btn-primary"%></td>
            </tr>
            <tr>
              <td>Marcas de productos</td>
              <td><span class="badge bg-yellow-active"><%=@brands.length %></span></td>
              <td><%=link_to "Tabla marcas", brands_path, class: "btn btn-primary"%></td>
            </tr>
            <tr>
              <td>Roles de usuarios</td>
              <td><span class="badge bg-orange-active"><%=@roles.length %></span></td>
              <td><%=link_to "Tabla roles", roles_path, class: "btn btn-primary"%></td>
            </tr>
            <tr>
              <td>Estado de usuarios</td>
              <td><span class="badge bg-aqua-active"><%=@states.length %></span></td>
              <td><%=link_to "Tabla estados de usuario", states_path, class: "btn btn-primary"%></td>
            </tr>
            <tr>
              <td>Estado de consumo de productos</td>
              <td><span class="badge bg-gray-active"><%=@situations.length %></span></td>
              <td><%=link_to "Tabla de situaciones", situations_path, class: "btn btn-primary"%></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th style="width: 34px">Tabla</th>
              <th style="width: 33px">Cantidad de elementos</th>
              <th style="width: 33px">Detalles</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
  <span class="ir-arriba fa fa-arrow-circle-up hidden-lg"></span>
  <div class="row alerta" id="alerta" hidden="hidden">

  </div>
<%else %>
  <section class="content-header">
    <h1>
      404 Error
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="error-page">
      <h2 class="headline text-yellow"> 404</h2>

      <div class="error-content">
        <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>
        <p>
          No se pudo encontrar la p치gina que est치 solicitando.
          Por el momento se puede dirigir a la p치gina de inicio: <%=link_to "volver al dashboard (inicio)", home_index_path %>.
        </p>
        <div class="col-md-12">
          <div class="alert alert-warning alert-dismissible">
            <h4><i class="icon fa fa-ban"></i> Alerta!</h4>
            <%=@mensaje %>
          </div>
        </div>
      </div>
      <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
  </section>
<%end %>

