<% if @role.errors.empty? %>

  <% if @tipo_edit == "success" %>
    $('table tbody tr#<%= @role.id %>').replaceWith(' <%= j render "row", role: @role %>');
  <% end %>

  $("#modal-role").modal('hide');
  $(".tipo_nombre").val("");
  var html ="<div class='box-body mensaje'> \n" +
      "       <div class='alert alert-<%=@tipo_edit %> alert-dismissible'> \n" +
      "         <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>\n" +
      "         <h5><i class='<%=@icono_edit %>'></i> <b> <%=@titulo_edit %> </b></h5>\n" +
      "         <%=@mensaje_edit %>\n" +
      "       </div> \n" +
      "     </div>"
  html = $.parseHTML( html);

  $("#alerta").append(html);

  $("#alerta").hide().fadeIn(1000);


  $(".mensaje").fadeOut(10000, function(){
      $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
  });

<% else %>
  alert('<% @role.errors.full_messages.each do |msg| %><%= msg %>\n<% end %>');
<% end %>