<div class="modal fade" id="modal-brand">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%= title %></h4>
      </div>

      <%=form_for @brand, remote: true do |f| %>
        <div class="modal-body">
          <div class="row">
            <div class="form-group">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%= f.label :descrip_marca %><br>
                <%= f.text_field :descrip_marca, class: "form-control marca_nombre", type: "text", placeholder: "Marca del producto"%>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
          <%= f.submit "Guardar", :class=> 'btn btn-primary', :id =>"BtnMarca" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
