<% if @product.errors.empty? %>

  <% if @tipo == "success" %>

    $("#modal-product").modal('hide');
    //$("#modal-product :input").val('');
    $(".product_nombre").val("");
    $(".product_stock").val("");
    $(".product_marca").html("");
    $(".product_tipo").html("");
    $(".product_ubicacion").val("");

    $("#container_products").prepend('<%= j render @product %>');
    $("#product_<%= @product.id %>").hide().fadeIn(1000);

  <%else %>
    var NombreProd = $(".product_nombre").val().trim();
    var StockProd = $(".product_stock").val().trim();
    var MarcaProd = $(".product_marca option:selected").val().trim();
    var TipoProd = $(".product_tipo option:selected").val().trim();
    var Ubicacion = $(".product_ubicacion").val().trim();


    if (NombreProd.length == 0 || NombreProd == null || NombreProd == ""){
        $("#nombre").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        $("#ErrorNombre").html("Ingrese nombre");
    }else{
        <% if @tipo == "success" %>
          $("#nombre").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12");
          $("#ErrorNombre").html("");
        <%else %>
          $("#nombre").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        <%end %>
    }

    if (StockProd.length == 0 || StockProd == null || StockProd == ""){
        $("#stock").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        $("#ErrorCantidad").html("Ingrese cantidad");
    }else{
        StockProd = parseInt(StockProd);
        if (StockProd <= 0){
            $("#stock").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
            $("#ErrorCantidad").html("Ingrese cantidad mayor a cero");
        }else{
            <% if @tipo == "success" %>
              $("#stock").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12");
              $("#ErrorCantidad").html("");
            <%else %>
              $("#stock").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
            <%end %>
        }
    }

    if (MarcaProd.length == 0 || MarcaProd == null || MarcaProd == ""){
        $("#marca").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        $("#ErrorMarca").html("Ingrese marca");
    }else{
        <% if @tipo == "success" %>
          $("#marca").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12");
          $("#ErrorMarca").html("");
        <%else %>
          $("#marca").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        <%end %>
    }

    if (TipoProd.length == 0 || TipoProd == null || TipoProd == ""){
        $("#tipo").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");
        $("#ErrorTipo").html("Ingrese tipo");
    }else{
        <% if @tipo == "success" %>
          $("#tipo").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12");
          $("#ErrorTipo").html("");
        <%else %>
          $("#tipo").attr("class", "col-lg-6 col-md-6 col-sm-12 col-xs-12 has-error");

        <%end %>
    }

    if (Ubicacion.length == 0 || Ubicacion == null || Ubicacion == ""){
        $("#ubicacion").attr("class", "col-lg-12 col-md-12 col-sm-12 col-xs-12 has-error");
        $("#ErrorUbicacion").html("Ingrese ubicacion");
    }else{
        <% if @tipo == "success" %>
          $("#ubicacion").attr("class", "col-lg-12 col-md-12 col-sm-12 col-xs-12");
          $("#ErrorUbicacion").html("");
        <%else %>
          $("#ubicacion").attr("class", "col-lg-12 col-md-12 col-sm-12 col-xs-12 has-error");

        <%end %>
    }
  <% end %>

  var html ="<div class='box-body mensaje'> \n" +
      "       <div class='alert alert-warning alert-dismissible'> \n" +
      "         <button type='button' class='close alert-close' data-dismiss='alert' aria-hidden='true'>&times;</button>\n" +
      "         <h5><i class='<%=@icono %>'></i> <b> <%=@titulo %> </b></h5>\n" +
      "         <%=@mensaje %>\n" +
      "       </div> \n" +
      "     </div>"
  html = $.parseHTML( html);

  $("#alerta").append(html);

  $("#alerta").hide().fadeIn(1000);

  $(".mensaje").fadeOut(10000, function(){
      $(this).remove();//Eliminar la tarjeta asociada al elemento que se acaba de seleccionar
  });

<% else %>
  alert('<% @product.errors.full_messages.each do |msg| %><%= msg %>\n<% end %>');
<% end %>