<header class="main-header">
  <%= content_tag :a, href: '/home', class: 'logo' do %>
    <span class="logo-mini">
    <b>D</b>H</span>
    <span class="logo-lg">
    <b>Data</b>House <%=Date.today.strftime("%A").downcase %></span>
  <% end %>

  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation </span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <%if Date.today.strftime("%A").downcase == 'friday' %>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-danger">2</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header bg-teal-gradient">Tiene 2 notificaciones </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="http://www.lun.com/" target="blank">
                      <i class="fa fa-newspaper-o text-danger"></i>Oferas del diario Las Últimas Noticias
                    </a>
                  </li>
                  <li>
                    <%=link_to "<i class='fa fa-shopping-cart text-aqua'></i>Catálogos<span class='text-muted'> hacer clic para ver</span>".html_safe, home_path(12) %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        <%elsif Date.today.strftime("%A").downcase == 'saturday'%>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-danger">2</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header bg-teal-gradient">Tiene 2 notificaciones </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a id="IrGrafico">
                      <i class="fa fa-warning text-danger"></i>Se ha actualizado la información
                    </a>
                  </li>
                  <li>
                    <%=link_to "<i class='fa fa-shopping-cart text-aqua'></i>Catálogos<span class='text-muted'> hacer clic para ver</span>".html_safe, home_path(12) %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        <%else %>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-default">1</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header bg-teal-gradient">Tiene 1 notificacion </li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <%=link_to "<i class='fa fa-shopping-cart text-aqua'></i>Hay catálogos nuevos<span class='text-muted'> hacer clic para ver</span>".html_safe, home_path(12) %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        <%end %>

        <li class="dropdown user user-menu">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag "default-avatar.jpg", class: "user-image" %>
            <span class="hidden-xs"><%=current_user.nombre_usuario.titleize%> <%=current_user.apellidos_usuario.titleize%></span>
          </a>

          <ul class="dropdown-menu">
            <li class="user-header">
              <%= image_tag "default-avatar.jpg", class: "img-circle" %>
              <p>
                <%=current_user.nombre_usuario.titleize%> <%=current_user.apellidos_usuario.titleize%>
                <small>Miembro desde <%=current_user.created_at.strftime('%d-%m-%Y')%></small>
              </p>
            </li>
            <li class="user-footer">
              <div class="pull-left">
                <%= link_to 'Mi Perfil', class: 'btn btn-default -btn-flat' %>
              </div>
              <div class="pull-right">
                <%= link_to 'Salir',destroy_user_session_path, :method => :delete, class: 'btn btn-default btn-flat' %>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
