<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no, minimal-ui"/>
  <meta name="keywords" content="" />
  <meta name="title" content="<%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %>">
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : Rails.application.secrets[:site_title] %>">
  <title><%= content_for?(:title) ? yield(:title) : Rails.application.secrets[:site_title] %></title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
  <%= stylesheet_link_tag 'application_back', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-green sidebar-mini">

<div class="wrapper">

  <% if current_user %>
    <%= auto_session_timeout_js verbosity: 0,     # 2 - display all logs, 1 - display some logs, 0 - hides all logs
                                frequency: 300,    #in seconds
                                refresh_rate: 20, #in seconds
                                devise_model: 'user' %>
  <%  end %>

  <%= render partial: 'admin/shared/header' %>
  <%= render partial: 'admin/shared/sidebar' %>
  <div class="content-wrapper">
    <section class="content">
      <%= render partial: 'admin/shared/messages' %>
      <%= yield %>
    </section>
  </div>
  <%= render partial: 'admin/shared/footer' %>
</div>
</body>

<%= javascript_include_tag 'application_back' %>

<% if content_for?(:added_scripts) %>
  <%= yield :added_scripts %>
<% end %>
</html>
